<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="arm_transmission" params="">
        <joint name="Arm_Joint">
        <command_interface name="velocity">
            <param name="min">-2.87</param>
            <param name="max">2.87</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
        </joint>
    </xacro:macro>
</robot>