<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="spin_Arm_transmission" params="">
        <joint name="Spin_Arm_Joint">
        <command_interface name="velocity">
            <param name="min">-9999999999</param>
            <param name="max">9999999999</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
        </joint>
    </xacro:macro>
</robot>